*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  overflow-x: hidden;
}

body{
  font-family: lato, Arial, sans-serif;
  background:#f3f4f6;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
}

html{
  font-size: 65.2%;
}

.container{
  width:100%;
  max-width:1100px;
  background:#401818;
  overflow:hidden;
  display:grid;
  grid-template-columns: 1.25fr 0.75fr;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

/* Left Panel */

.left-panel{
  background:#dff2d5;
  display:flex;
  justify-content:center;
  align-items:center;
}

.left-panel img{
  width:100%;
  object-fit:cover;
}

/* Right Panel */

.right-panel{
  padding:42px 36px;
  background:#ffffff;
}

.logo{
  margin-bottom:20px;
}



h1{
  font-size:3.5rem;
  line-height:1.2;
  color:#111827;
  margin-bottom:20px;
}

.subtitle{
  color:#6b7280;
  line-height:1.7;
  font-size:15px;
  margin-bottom:30px;
}

/* Cards */

.feature-card{
  display:flex;
  gap:16px;
  padding:18px;
  border:1px solid #e5e7eb;
  border-radius:16px;
  margin-bottom:16px;
  align-items:flex-start;
}

.icon{
  width:40px;
  height:40px;
  border-radius:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:2rem;
  font-weight:bold;
  flex-shrink:0;
}

.icon img{
width: 50%;
}

.blue{
  background:#eef2ff;
  color:#2563eb;
}

.green{
  background:#ecfdf5;
  color:#059669;
}

.pink{
  background:#fdf2f8;
  color:#e11d48;
}

.feature-card h3{
  font-size:2rem;
  margin-bottom:6px;
  color:#111827;
}

.feature-card p{
  font-size:1.5rem;
  color:#6b7280;
  line-height:1.6;
}

/* Button */

.btn{
  width:100%;
  margin-top:14px;
  padding:16px;
  border:none;
  border-radius:14px;
  background:#62c26f;
  color:#fff;
  font-size:16px;
  font-weight:600;
  cursor:pointer;
  transition:0.2s ease;
}

.btn:hover{
  background:#54b462;
}

/* Footer */

.footer-links{
  display:flex;
  justify-content:center;
  gap:24px;
  margin-top:18px;
}

.footer-links a{
  text-decoration:none;
  color:#6b7280;
  font-size:13px;
}

.footer-links a:hover{
  color:#111827;
}

/* Responsive */

@media (max-width: 900px){

  .container{
    grid-template-columns:1fr;
  }

  h1{
    font-size:34px;
  }
}


@media (max-width: 600px){
.left-panel{
    display: none;
  }
}